.main{
    max-width: 1200px;
    margin: 0 auto;

    .back-url {
        margin: 2rem;
        
        a {
            text-decoration: none;
            color: #2d2926;
            font-weight: 500;
        }
    }

    .recipe-detail-container {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 2rem;
        padding: 0 0 3rem 0;
        background-color: white;
        
    
        .recipe-img-container {
            margin: 0 auto;
            height: 500px;
            overflow: hidden;

            img {
                height: auto;
                max-width: 100%;
                vertical-align: middle;
            }
        }
    
        .recipe-details {
            margin: 0 3.5rem;
    
            .recipe-title {
                margin-top: 2rem;
                font-size: 28px;
                font-family: Arial, Helvetica, sans-serif;
            }

            .recipe-description {
                color:#555;
            }
    
            .recipe-tags-container {
                margin: 1rem 0 1rem 0;
    
                .recipe-tags {
                    background-color: #47d7ac;
                    margin: 0 10px 5px 0;
                    padding: 10px;
                    border-radius: 15px;
                    color:#2d2926;
                    font-size: 14px;
                    text-transform: capitalize;
                    display: inline-flex;
                }
            }
    
            .recipe-chef {
                font-size: 14px;
                color: #716d6a;
                font-weight: 500;
            }
        }
    }
}

