.main{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5rem;

    .recipe-list-container {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}