.card-item-container {
    display: flex;
    padding: 1rem;

    .card {
      background-color: white;
      border-radius: 0.25rem;
      box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      overflow: hidden;

      img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
      }

      .card-content {
        padding: 1rem;
        background: white;

        .card-title {
          color: #555;
          font-size: 1.1rem;
          font-weight: 500;
          text-transform: capitalize;
          margin: 0px;
          padding: 0 0 0 0.5em;
        }
      }
    }

    a {
      text-decoration: none;
    }

    @media (min-width: 40rem) {
        width: 50%;
    }

    @media (min-width: 56rem) {
        width: 33.3333%;
    }
}


  
  


  

  

 