*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #272727;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  height: 100%;
  background-color: #f6f6f6;
}
